# Capstone Two: Data Wrangling <a id='Capstone Two: Data Wrangling'></a>

## Imports<a id='Imports'></a>

In [1]:
#Import liberies needed for the capstone
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os

## Load The Car Data<a id='Load The Car Data'></a>

In [2]:
#load the true car listing csv data as car_data
car_data = pd.read_csv('raw_data/true_car_listings.csv')

In [3]:
#Call head method to observe the first few rows
car_data.head()

,Price,Year,Mileage,City,State,Vin,Make,Model
0,8995,2014,35725,El Paso,TX,19VDE2E53EE000083,Acura,ILX6-Speed
1,10888,2013,19606,Long Island City,NY,19VDE1F52DE012636,Acura,ILX5-Speed
2,8995,2013,48851,El Paso,TX,19VDE2E52DE000025,Acura,ILX6-Speed
3,10999,2014,39922,Windsor,CO,19VDE1F71EE003817,Acura,ILX5-Speed
4,14799,2016,22142,Lindon,UT,19UDE2F32GA001284,Acura,ILXAutomatic

In [4]:
#Call info method to see summary
car_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 852122 entries, 0 to 852121
Data columns (total 8 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   Price    852122 non-null  int64
 1   Year     852122 non-null  int64
 2   Mileage  852122 non-null  int64
 3   City     852122 non-null  object
 4   State    852122 non-null  object
 5   Vin      852122 non-null  object
 6   Make     852122 non-null  object
 7   Model    852122 non-null  object
dtypes: int64(3), object(5)
memory usage: 52.0+ MB

In [5]:
car_data.columns

Index(['Price', 'Year', 'Mileage', 'City', 'State', 'Vin', 'Make', 'Model'], dtype='object')

## Missing Values<a id='Missing Values'></a>

In [6]:
missing = pd.concat([car_data.isnull().sum(), 100 * car_data.isnull().mean()], axis=1)
missing.columns=['count', '%']
missing.sort_values(by= '%', ascending = False)

         count    %
Price        0  0.0
Year         0  0.0
Mileage      0  0.0
City         0  0.0
State        0  0.0
Vin          0  0.0
Make         0  0.0
Model        0  0.0

In [7]:
car_data.select_dtypes('object')

                    City State                Vin   Make         Model
0                El Paso    TX  19VDE2E53EE000083  Acura    ILX6-Speed
1       Long Island City    NY  19VDE1F52DE012636  Acura    ILX5-Speed
2                El Paso    TX  19VDE2E52DE000025  Acura    ILX6-Speed
3                Windsor    CO  19VDE1F71EE003817  Acura    ILX5-Speed
4                 Lindon    UT  19UDE2F32GA001284  Acura  ILXAutomatic
...                  ...   ...                ...    ...           ...
852117       Culver City    CA  YV1A22MK9H1013237  Volvo         S90T6
852118         Englewood    NJ  YV4A22PL3H1186162  Volvo        XC90T6
852119      Fort Collins    CO  YV4A22PL4G1000868  Volvo       XC90AWD
852120       San Leandro    CA  YV4A22NLXH1006162  Volvo           V90
852121          New York    NY  YV4BC0ZX1H1109845  Volvo        XC90T8

[852122 rows x 5 columns]

In [8]:
print(car_data['Make'].unique())

['Acura' 'Alfa' 'AM' 'Aston' 'Audi' 'Bentley' 'BMW' 'Buick' 'Cadillac'
 'Chevrolet' 'Chrysler' 'Dodge' 'Ferrari' 'FIAT' 'Fisker' 'Ford'
 'Freightliner' 'Genesis' 'Geo' 'GMC' 'Honda' 'HUMMER' 'Hyundai'
 'INFINITI' 'Isuzu' 'Jaguar' 'Jeep' 'Kia' 'Lamborghini' 'Land' 'Lexus'
 'Lincoln' 'Lotus' 'Maserati' 'Maybach' 'Mazda' 'McLaren' 'Mercedes-Benz'
 'Mercury' 'MINI' 'Mitsubishi' 'Nissan' 'Oldsmobile' 'Plymouth' 'Pontiac'
 'Porsche' 'Ram' 'Rolls-Royce' 'Saab' 'Saturn' 'Scion' 'smart' 'Subaru'
 'Suzuki' 'Tesla' 'Toyota' 'Volkswagen' 'Volvo']

## Duplicated values <a id='Duplicated values'></a>

In [9]:
car_data['Duplicated'] = car_data.duplicated()
car_data[car_data['Duplicated'] == True]

,Price,Year,Mileage,City,State,Vin,Make,Model,Duplicated
120948,16288,2015,54545,Pensacola,FL,2G1FB1E32F9284364,Chevrolet,CamaroCoupe,True
120949,19995,2016,17604,Beaumont,TX,2G11Z5SA9G9130915,Chevrolet,ImpalaLS,True
120950,5774,2008,125675,Fort Wayne,IN,2G1WT58K781214125,Chevrolet,Impala4dr,True
120951,20990,2017,17219,Marshfield,MO,2G1105S30H9120402,Chevrolet,ImpalaLT,True
120952,22573,2016,622,Colorado Springs,CO,1GCNCNEC9GZ402232,Chevrolet,Silverado,True
120953,11495,2014,80086,Langhorne,PA,1G1JC6SH8E4194609,Chevrolet,SonicHatchback,True
120954,28800,2017,4165,Smyrna,GA,2GNFLGE38H6240856,Chevrolet,EquinoxAWD,True
120955,14771,2014,78400,New Haven,IN,1G1125S39EU113487,Chevrolet,Impala2LT,True
120956,15907,2015,65274,Corpus Christi,TX,2G1FB1E30F9190774,Chevrolet,CamaroCoupe,True
120957,12894,2014,57113,Delray Beach,FL,1G1RA6E44EU129757,Chevrolet,VoltPlug-In,True
120958,6990,2013,59960,Houston,TX,KL8CB6S9XDC531399,Chevrolet,SparkLS,True
120959,27988,2017,8692,Jackson,TN,2GNALDEK3H1546084,Chevrolet,EquinoxFWD,True
120960,9849,2014,42334,WACO,TX,KL8CD6S99EC501340,Chevrolet,Spark1LT,True
120961,17143,2010,23180,Surprise,AZ,1GCPKPEX0AZ237480,Chevrolet,Silverado,True
120962,20900,2015,20077,Decatur,AL,1GCNCPEH0FZ302445,Chevrolet,Silverado,True
252342,14929,2016,32175,Corpus Christi,TX,1FMCU0F75GUA44645,Ford,EscapeFWD,True
252343,16515,2016,45175,Show Low,AZ,3FA6P0H93GR316968,Ford,FusionSE,True
252344,13752,2016,16674,Myrtle Beach,SC,3FADP4BJ5GM148345,Ford,FiestaSedan,True
252345,14650,2014,50450,Rockwood,TN,3FA6P0HD1ER204199,Ford,FusionSE,True
252347,14499,2016,21108,West Palm Beach,FL,1FMCU0GX9GUA19732,Ford,EscapeFWD,True
252348,16767,2017,9899,Hanford,CA,1FADP3K2XHL216581,Ford,FocusSE,True
252349,12700,2014,24840,Bedford,IN,1FADP3F2XEL437586,Ford,FocusSedan,True
252351,12497,2014,28096,Wallace,NC,1FADP3K25EL443656,Ford,FocusHatchback,True
252354,8490,2013,57933,Laurel,MD,1FADP3F24DL182433,Ford,FocusSedan,True
252355,13640,2013,44231,Lakewood,CO,3FA6P0G72DR373223,Ford,FusionS,True
252356,7999,2013,60211,Gower,MO,3FADP4EJ5DM144447,Ford,FiestaHatchback,True
252357,7999,2014,72450,Dallas,TX,1FADP3E24EL218186,Ford,FocusSedan,True
252358,13588,2016,22345,Madison,TN,1FADP3F24GL320976,Ford,FocusSedan,True
252359,13902,2016,30364,Manvel,TX,1FADP3F21GL319896,Ford,FocusSedan,True
252360,18990,2017,17887,Houston,TX,3FA6P0LU4HR258592,Ford,FusionHybrid,True

In [10]:
car_data = car_data[car_data['Duplicated'] == False]
car_data

,Price,Year,Mileage,City,State,Vin,Make,Model,Duplicated
0,8995,2014,35725,El Paso,TX,19VDE2E53EE000083,Acura,ILX6-Speed,False
1,10888,2013,19606,Long Island City,NY,19VDE1F52DE012636,Acura,ILX5-Speed,False
2,8995,2013,48851,El Paso,TX,19VDE2E52DE000025,Acura,ILX6-Speed,False
3,10999,2014,39922,Windsor,CO,19VDE1F71EE003817,Acura,ILX5-Speed,False
4,14799,2016,22142,Lindon,UT,19UDE2F32GA001284,Acura,ILXAutomatic,False
...,...,...,...,...,...,...,...,...,...
852117,63215,2017,9,Culver City,CA,YV1A22MK9H1013237,Volvo,S90T6,False
852118,72260,2017,3201,Englewood,NJ,YV4A22PL3H1186162,Volvo,XC90T6,False
852119,55999,2016,28941,Fort Collins,CO,YV4A22PL4G1000868,Volvo,XC90AWD,False
852120,60240,2017,3005,San Leandro,CA,YV4A22NLXH1006162,Volvo,V90,False
852121,76995,2017,2502,New York,NY,YV4BC0ZX1H1109845,Volvo,XC90T8,False

In [11]:
car_data.drop('Duplicated', axis =1)

,Price,Year,Mileage,City,State,Vin,Make,Model
0,8995,2014,35725,El Paso,TX,19VDE2E53EE000083,Acura,ILX6-Speed
1,10888,2013,19606,Long Island City,NY,19VDE1F52DE012636,Acura,ILX5-Speed
2,8995,2013,48851,El Paso,TX,19VDE2E52DE000025,Acura,ILX6-Speed
3,10999,2014,39922,Windsor,CO,19VDE1F71EE003817,Acura,ILX5-Speed
4,14799,2016,22142,Lindon,UT,19UDE2F32GA001284,Acura,ILXAutomatic
...,...,...,...,...,...,...,...,...
852117,63215,2017,9,Culver City,CA,YV1A22MK9H1013237,Volvo,S90T6
852118,72260,2017,3201,Englewood,NJ,YV4A22PL3H1186162,Volvo,XC90T6
852119,55999,2016,28941,Fort Collins,CO,YV4A22PL4G1000868,Volvo,XC90AWD
852120,60240,2017,3005,San Leandro,CA,YV4A22NLXH1006162,Volvo,V90
852121,76995,2017,2502,New York,NY,YV4BC0ZX1H1109845,Volvo,XC90T8